<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Match</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class=" mb-4">Match Details</h2>

    <!-- Display basic match information in a Bootstrap card -->
    <div class="card mb-4 mr-8">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <p class="mb-2">Type</p>
                    <p class="mb-2">Venue</p>
                    <p class="mb-2">Date of Match</p>
                    <p class="mb-2">Home Team</p>
                    <p class="mb-2">Away Team</p>
                    <p class="mb-2">Winner</p>
                </div>

                <div class="col-md-4">
                    <h5 class="card-title text-primary" th:text="${match.matchType}"></h5>
                    <p class="card-title text-primary" th:text="${match.venue}"></p>
                    <strong><p class="mb-2" th:text="${#temporals.format(match.date, 'yyyy-MM-dd')}"></p></strong>
                    <strong>
                        <p class="mb-2">
                            <a th:href="@{/teams/{id}(id=match.homeTeam.id)}" th:text="${match.homeTeam.name}"></a>
                        </p>
                        <p class="mb-2">
                            <a th:href="@{/teams/{id}(id=match.awayTeam.id)}" th:text="${match.awayTeam.name}"></a>
                        </p>
                        <p class="mb-2">
                            <a th:text="'Winner Team'"></a>
                        </p>
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <!-- Buttons with Bootstrap classes to navigate to matches and stats pages -->
    <div class="row">
        <div class="col-10 d-flex">
            <a th:href="@{/matches/{id}/players(id=${match.id})}" class="btn btn-primary me-3">View Players</a>
            <a th:href="@{/matches/{id}/performances(id=${match.id})}" class="btn btn-success">View Stats</a>
        </div>
        <div class="col-1 text-end">
            <a th:href="@{/matches/{id}/update(id = ${match.id})}" class="btn btn-info me-3">Edit</a>
        </div>
        <div class="col-1 text-end">
            <a th:href="@{/matches/{id}/delete(id = ${match.id})}" class="btn btn-danger me-3">Delete</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>