<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Player</title>
    <!--    <link rel="stylesheet" href="../static/bootstrap.min.css">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container mt-5">
    <h2 th:text="${update == null} ? 'Create Player' : 'Update Player'" class="text-center mb-4"></h2>

    <!-- Player creation form -->
    <form action="#" th:action="@{/players/save}" th:object="${player}", method="POST">

        <input type="hidden" th:field="*{id}" />

        <input type="text" th:field="*{name}"
               placeholder="Player Name" class="form-control mb-4 col-4">

        <input type="date" th:field="*{dateOfBirth}"
               class="form-control mb-4 col-4">

        <select class="custom-select form-control mb-4" th:field="*{role}">
            <option th:value="'ALLROUNDER'" th:text="AllRounder"></option>
            <option th:value="'BATSMAN'" th:text="Batsman"></option>
            <option th:value="'BOWLER'" th:text="Bowler"></option>
            <option th:value="'WICKETKEEPER'" th:text="WicketKeeper"></option>
        </select>

        <select class="custom-select form-control mb-4" th:field="*{team}">
            <option value="0">select team</option>
            <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
        </select>

        <button type="submit" class="btn btn-info col-2"
        th:text="${update == null} ? Save : Update">
        </button>
    </form>
</div>

<!-- Add Bootstrap JS and Popper.js scripts (required for Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Your custom JavaScript scripts or links here -->

</body>
</html>